body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
header {
  border-bottom: 4px solid #6F6F6F;
}
.btn {
  margin: 5px;
  display: inline-block;
  height: 30px;
  width: 35px;
}
.btn-news {
  margin-left: 15px;
  background: url(../images/btn-news.png) no-repeat;
  background-size: contain;
}
.btn-news:hover {
  background-image: url(../images/btn-news-active.png);
}
.btn-messages {
  background: url(../images/btn-messages.png) no-repeat;
  background-size: contain;
}
.btn-messages:hover {
  background-image: url(../images/btn-messages-active.png);
}
.btn-add {
  background: url(../images/btn-add.png) no-repeat;
  background-size: contain;
  float: right;
}
.btn-vk {
  background: url(../images/btn-vk.png) no-repeat;
  background-size: contain;
}
.btn-fb {
  background: url(../images/btn-fb.png) no-repeat;
  background-size: contain;
  margin-right: 10px;
}
.login-text {
  text-align: center;
}
.center-block {
  text-align: center;
}
