$hover-color: #dfc872;

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

* {
  -webkit-user-select: none !important;
  cursor: default !important;
}

header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-between;
  border-bottom: 1px solid #6F6F6F;

  .sections {
    display: block;
  }

  .logins {
    display: block;
  }

  .icon {
    display: inline-block;
    box-sizing: border-box;
    margin: 5px;
    padding: 2px;
    width: 50px;
    height: 50px;
    line-height: 46px;
    font-size: 46px;
    text-decoration: none;
    color: black;
    text-align: center;
    vertical-align: middle;
  }

  .btn:hover {
    color: $hover-color;
  }
}
.center {
  text-align: center;
}

.login-page {

  .logins {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    align-items: center;

    .login {
      padding: 10px;
      border-radius: 15px;

      &:hover {
        background: $hover-color;
        transition: 500ms;
      }

      img {
        display: block;
        width: 200px;
        height: 200px;
      }

      span {
        font-family: Verdana, sans-serif;
        display: block;
        text-align: center;
        font-size: larger;
      }
    }
  }
}

.posts {
  background: #fffdf7;
  box-sizing: border-box;
  padding: 5px;

  .post {
    background: white;
    margin: 10px auto;
    max-width: 650px;
    padding: 15px;
    text-align: justify;
    border-radius: 3px;
    border: 1px solid lightblue;

    .post-header {
      display: flex;
      flex-direction: row;
      .photo {
        width: 50px;
        height: 50px;
        border-radius: 25px;
        align-self: center;
      }
      .info {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-left: 20px;
        .source-name {
          font-size: larger;
          color: #727170;
        }
        .post-date {
          font-size: small;
          color: #a3a3a3;
        }
      }
      .like {
        font-size: 25px;
        vertical-align: middle;
        align-self: center;
        margin: 10px;
      }
      .source {
        align-self: center;
        vertical-align: middle;
        margin: 10px;
        font-style: italic;
        font-size: x-large;
        font-family: cursive;
      }
    }
    .text {
      margin-top: 15px;
      white-space: pre-wrap;
      word-wrap: break-word;
    }
  }
}
