html(ng-app='skyfeed')
  head
    meta(charset="UTF-8")
    title SkyFeed
    link(rel='stylesheet', href='styles/main.scss')
    link(rel='stylesheet', href='styles/icomoon.css')
  body(ui-view="")

  script.
    require('./scripts/renderer.js')
