html(ng-app='')
  head
    meta(charset="UTF-8")
    title Hello World!
    link(rel='stylesheet', href='styles/main.css')
    script(src='node_modules/angular/angular.min.js')
  body
    h1.login Login with...
    a.vk_logo(href='#')
    a.fb_logo(href='#')
  script.
    require('./node_modules/nedb/browser-version/out/nedb.min.js')
    require('./renderer.js')
