html(ng-app='')
  head
    meta(charset="UTF-8")
    title Hello World!
    link(rel='stylesheet', href='styles/main.css')
    script(src='node_modules/angular/angular.min.js')
  body
    header
      a.btn.btn-news(href='#')
      a.btn.btn-messages(href='#')
      a.btn.btn-fb(href='#')
      a.btn.btn-vk(href='#')
      a.btn.btn-add(href='#')
  script.
    require('./node_modules/nedb/browser-version/out/nedb.min.js')
    require('./renderer.js')
