.conversations
    .conversation
        img.avatar(src="images/dru.jpg")
        .info
            .user-name Andrew Slipenko
            .last-message Hello Bitch
        .statuses
            .source VK
