.conversations
    .conversation(ng-repeat="item in items" ui-sref='app.conversation({userID: item.userID, client: item.client})')
        img.avatar(src='{{ item.conversationPhoto }}')
        .info
            .user-name {{ item.conversationTitle }}
            .last-message {{ item.conversationText }}
        .statuses
            .source(ng-style='item.client.htmlColor()') {{ item.client.type }}
