.conversations
    .conversation(ng-repeat="item in items" ng-class='item.isConversationRead ? "read" : "unread"' ui-sref='app.conversation({conversation: item})')
        img.avatar(src='{{ item.conversationPhoto }}')
        .info
            .user-name {{ item.conversationTitle }}
            .last-message {{ item.conversationText }}
        .statuses
            .source(ng-style='item.client.htmlColor()') {{ item.client.type }}
