.header-title {{ conversation.conversationTitle }}
.textfield-wrap.sizefix
  textarea.textfield.sizefix(ng-model='messageBody' placeholder='Enter a message...', autofocus='true', maxlength='4096')
  button.send-button(ng-click='sendMessage(messageBody)') Send

table
  tr(ng-repeat="message in messages")
    td
      .wrap(ng-class='message.isMyMessage ? "right" : "left"') {{ message.text }}
        a.time {{ message.date | date: 'HH:mm' }}
        img(ng-repeat='photo in message.photos' ng-src='{{ photo.smallURL }}')
