.conversations(infinite-scroll='load()' infinite-scroll-distance='500')
    .conversation(ng-repeat="item in items" ng-class='item.isConversationRead ? "read" : "unread"' ui-sref='app.messages({conversation: item})')
        img.avatar(src='{{ item.conversationPhoto }}')
        .info
            .user-name {{ item.conversationTitle }}
            .last-message
                span(ng-if='item.isMyMessage') Me: 
                span {{ item.conversationText }}
        .statuses
            .source(ng-style='item.getLogin().htmlColor()') {{ item.getLogin().type }}
