.conversations
    - for (var i = 0; i < 10; i++) {
        .conversation
            img.avatar(src="images/dru.jpg")
            .info
                .user-name Andrew Slipenko
                .last-message Hello Bitch
            .statuses
                .source VK
    - }
