.posts(infinite-scroll='load()' infinite-scroll-distance='500' infinite-scroll-disabled='fetchCount > 0')
    .post(ng-repeat="item in items | orderBy: 'date':true")
        .post-header
            img.photo(src='{{ item.originPhoto }}')
            .info
                .source-name {{ item.originName }}
                .post-date {{ item.date | date: 'dd/MM/yyyy HH:mm:ss' }}
            .like-block
                .like.icon(ng-class='item.liked ? "icon-star-full" : "icon-star-empty"' ng-click='switchLike(item)')
                .like-count {{ item.likesCount }}
            .source(ng-style='item.getLogin().htmlColor()') {{ item.getLogin().type }}
        .text {{ item.text }}
        .photos(ng-if='item.photos.length')
            img.photo(ng-repeat='photo in item.photos' ng-src='{{ photo.smallURL }}' ng-click='switchPhotoSize(photo)')
        .reposts(ng-if='item.copyHistory.length')
            .repost(ng-repeat='repost in item.copyHistory')
                .source-name {{ repost.originName }}
                .text {{ repost.postText }}
                .photos(ng-if='item.photos.length')
                    .photo(ng-repeat='photo in repost.photos' ng-src='{{ photo.smallURL }}' ng-click='switchPhotoSize(photo)')
