.posts
    .post(ng-repeat="item in items")
        .post-header
            .photo-wrap
                img.photo(src='{{ item.originPhoto }}')
            .info
                .source-name {{ item.originName }}
                .post-date {{ item.date }}
        .text {{ item.text }}
