.login-page
  h1.center Login with...
  .logins
    .login(ng-click='loginVk()')
      img(src='images/vk-logo.svg', alt='VKontakte')
      span VKontakte
    .login(ng-click='loginTwitter()')
      img(src='images/twitter-logo.svg', alt='Twitter')
      span Twitter
